<link rel='stylesheet' href='/stylesheets/demo.css' />
<script type="text/javascript" src="/demo/demo.js"></script>
<div>
  <h1>MyShelf Book Detection Demo</h1>
  <p>Book detection demo for the MyShelf Image Upload functionality. </br> This demo will try to identify books given a picture of a bookshelf. </p>
  <input id="imglocation" name="image" type="file" />
  <button id="btn" type="button">Detect Books</button> <div id="loader" class="loader"></div>
</div>
</br>
<div>
  <ul id="resultsholder">
  </ul>
</div>
<div>
  <div id="canvasholder" style="position: relative;"></div>
</div>
